*{
        padding: 0;
        margin:0;
}
.main{
    background: url(https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_960_720.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}
.logo{
    color: #ff7200;
    font-size: 50px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 5px
    
}
.menu{
    width: 200px;
    height: 70px;
}
ul{
   display: inline-flex;
   justify-content: space-between;
    align-items: center;
}
ul li{
    display: inline-block;
    
    list-style: none;
    margin-top: 27px;
    font-size: 14px;
    
}
ul li a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    margin-left: 450px;
}
.srch{
    width: 200px;
    font-family: 'Times New Roman';
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 15px;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.srch:focus{
    outline:none;
}
.btn:focus{
    outline:none;
}
.content{
    width: 1200px;
    margin-left: 100px;
    height: auto;
    color: #fff;
    position: relative;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cntct{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cntct a{
    color: black;
    text-decoration: none;
    transition: 0.3s ease-out;
}
.cntct:hover{
    background: #fff;
}

